[Desktop Entry]
Name=SolydXK System Settings
Name[ca]=SolydXK System Settings
Name[da]=SolydXK Systemindstillinger
Name[de]=SolydXK Systemeinstellungen
Name[es]=SolydXK System Settings
Name[es_419]=SolydXK System Settings
Name[fr]=SolydXK System Settings
Name[it]=Impostazioni di sistema di SolydXK
Name[lt]=SolydXK sistemos nustatymai
Name[nl]=SolydXK Systeeminstellingen
Name[pt]=Configurações do Sistema SolydXK
Name[sr]=Системске поставке за СолидИксК
Comment=Change system settings for SolydXK
Comment[ca]=Canvia els Paràmetres de Sistema de SolydXK
Comment[da]=Skift systemindstillinger for SolydXK
Comment[de]=Ändere Systemeinstellungen für SolydXK
Comment[es]=Cambiar la configuración del sistema para SolydXK
Comment[es_419]=Cambiar la configuración del sistema para SolydXK
Comment[fr]=Changer les paramètres système de SolydXK
Comment[it]=Cambia le impostazioni di sistema per SolydXK
Comment[lt]=Keisti SolydXK sistemos nustatymus
Comment[nl]=Verander systeem instellingen voor SolydXK
Comment[pt]=Alterar as configurações do sistema de SolydXK
Comment[sr]=Измена системских поставки за СолидИксК
Exec=solydxk-system
Icon=solydxk
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=false
