[Unit]
Description=Configure SolydXK
After=network.target
Before=console-kit-log-system-start.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/lib/solydxk/system/adjust.py

[Install]
WantedBy=clamav-freshclam.service apache2.service mysql.service multi-user.target
