[Unit]
Description=Update Apt Cache
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/apt-get update

[Install]
WantedBy=network-online.target
