[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=System
Name[ca]=Sistema
Name[da]=System
Name[de]=System
Name[es]=Sistema
Name[es_419]=Sistema
Name[fr]=Système
Name[it]=Sistema
Name[lt]=Sistema
Name[nl]=Systeem
Name[pt]=Sistema
Name[ru]=Система
Name[sr]=Систем
