[Desktop Entry]
Comment=Limit the xsession-errors file size
Comment[ca]=Limita la mida del fitxer xsession-errors
Comment[da]=Begræns størrelsen på xsession-errors-filen
Comment[de]=Die Größe der Datei xsession-errors begrenzen
Comment[es]=Limitar el tamaño del archivo xsession-errors
Comment[es_419]=Limitar el tamaño del archivo xsession-errors
Comment[fr]=Limiter la taille du registre d'erreur xsession
Comment[it]=Limita le dimensioni del file xsession-errors
Comment[lt]=Apriboti xsession-errors failo dydį
Comment[nl]=Beperk de bestandsgrootte van xsession-errors
Comment[pt]=Limitar o tamanho do ficheiro xsession-errors
Comment[ru]=Ограничить размер файла xsession-errors
Comment[sr]=Ограничи величину за фајл „xsession-errors“
Exec=xsession-logcontrol
Name=Xsession Errors Log Control
Name[ca]=Control del registre Xsession Errors
Name[da]=Xsession Errors logstyring
Name[de]=Xsession-Fehler Protokollsteuerung
Name[es]=Xsession Errors Log Control
Name[es_419]=Xsession Errors Log Control
Name[fr]=Contrôle des registres d'erreurs (logs) Xsession
Name[it]=Log di controllo degli errori di Xsession
Name[lt]=Xsession klaidų žurnalo valdymas
Name[nl]=Xsession Errors Log Beheer
Name[pt]=Controlo de Log de Erros Xsession
Name[ru]=Xsession Errors Log Control
Name[sr]=Управљање дневником грешака Икс-сесије
StartupNotify=false
Terminal=false
Type=Application
