[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND StorageVolume.usage == 'FileSystem' ]
Type=Service
Actions=open;

[Desktop Action open]
# %f gives StorageAccess.filePath, %d gives Block.device, %i gives UDI
Exec=solydxk-system
Icon=solydxk
Name=Encrypt or decrypt this USB device with SolydXK System.
Name[ca]=Encripta o desencripta aquest dispositiu USB amb SolydXK System.
Name[da]=Kryptér eller dekryptér denne USB-enhed med SolydXK systemet.
Name[de]=Verschlüsseln oder entschlüsseln Sie dieses USB-Gerät mit dem SolydXK-System.
Name[es]=Cifre o descifre este dispositivo USB SolydXK System.
Name[es_419]=Cifre o descifre este dispositivo USB SolydXK System.
Name[fr]=Chiffrez ou déchiffrez ce lecteur USB avec SolydXK System.
Name[it]=Cripta o decripta questo device USB con SolydXK System
Name[lt]=Šifruoti ar iššifruoti šį USB įrenginį naudojant SolydXK sistemą.
Name[nl]=Versleutel of ontsleutel dit USB-apparaat met SolydXK System.
Name[pt]=Cifrar ou decifrar este dispositivo USB com o Sistema SolydXK.
Name[ru]=Зашифруйте или дешифруйте это USB-устройство с помощью SolydXK System.
Name[sr]=Шифруј или дешифруј овај УСБ помоћу СолидИксК система.

