@define-color root_color #ff0000;

window {
    border: 2px solid @root_color;
}

menubar,
menubar > menuitem {
    background-color: shade(@root_color, 1.40);
}

menubar menuitem:hover,
menubar menu > menuitem:hover {
    background-color: shade(@root_color, 1.40);
    border-color: @root_color;
}

/*
   You can enable the following code
   to colorize the toolbar.
*/

/*
toolbar,
.primary-toolbar {
    background-color: shade(@root_color, 1.30);
}

toolbar button,
toolbar entry,
toolbar radio,
toolbar check {
    border: 2px solid @root_color;
}

toolbar button {
    background-color: shade(@root_color, 1.25);
}

toolbar button:hover {
    border-color: shade(@root_color, 1.50);
}
*/
